header{
  border-bottom: 2px solid var(--light-gray);
}

header .container{
  display: flex;
  align-items: center;
  padding: var(--big-padding);
  justify-content: space-between;
}

header .logo{
  max-width: 200px;
}
