@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

div{
  box-sizing: border-box;
}

.CarsProject{
  --black: #4A4A4A;
  --orange: #EA7F28;
  --light-gray: #EDEDED;
  --dark-orange: #D37324;

  --margin: 8px;
  --padding: 8px;
  --big-margin: 24px;
  --big-padding: 24px;
  --middle-margin: 12px;
  --middle-padding: 12px;

  color: var(--black);
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 1024px) {
  .container{
    width: 80%;
  }
}

.bodyContainer{
  /* 91 header - 63 footer todo - better way*/ 
  min-height: calc(100vh - 91px - 63px);
}

h1, h2, h3, p{
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

a{
  outline: none;
  cursor: pointer;
  color: var(--orange);
  text-decoration: none;
}

a:hover{
  color: var(--dark-orange);
  text-decoration: underline;
}

a::selection{
  background: transparent;
}
